<!-- ---------------- -->
<!--    DATA          -->
<!-- ---------------- -->
<div class="panel data">

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3 class="text-center">DATA</h3>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <app-selectable-label label="VYSE" lookupValue="vyse" (contentClicked)="onLabelSelected($event)" size="large"></app-selectable-label>
      </div>
    </div>
    <div class="row">
      <div class="data-display col">
        <h1 class="dynamic">88</h1>
        <h2 class="static">KIAS</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-selectable-label label="EXCESS THP" lookupValue="excess-thp" (contentClicked)="onLabelSelected($event)" size="large"></app-selectable-label>
      </div>
    </div>
    <div class="row">
      <div class="data-display col">
        <h1 class="dynamic">{{excessThp}}</h1>
        <h2 class="static">HP</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-selectable-label label="RATE OF CLIMB" lookupValue="rate-of-climb" (contentClicked)="onLabelSelected($event)" size="large"></app-selectable-label>
      </div>
    </div>
    <div class="row">
      <div class="data-display col">
        <h1 class="dynamic">{{roc}}</h1>
        <h2 class="static">FPM</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-selectable-label label="SERVICE CEILING" lookupValue="service-ceiling" (contentClicked)="onLabelSelected($event)" size="large"></app-selectable-label>
      </div>
    </div>
    <div class="row">
      <div class="data-display col">
        <h1 class="dynamic">{{serviceCeiling}}</h1>
        <h2 class="static">FT. MSL</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-selectable-label label="ABSOLUTE CEILING" lookupValue="absolute-ceiling" (contentClicked)="onLabelSelected($event)" size="large"></app-selectable-label>
      </div>
    </div>
    <div class="row">
      <div class="data-display col">
        <h1 class="dynamic">{{absoluteCeiling}}</h1>
        <h2 class="static">FT. MSL</h2>
      </div>
    </div>

    <div class="footnote">
      * Actual aircraft performance not represented. Always refer to your FAA-approved Pilot Operating Handbook.
    </div>
  </div>

</div>

<!-- ---------------- -->
<!--  RENDERER        -->
<!-- ---------------- -->
<div class="panel renderer">
  <app-engine></app-engine>
</div>

<!-- ---------------- -->
<!--  CONTROL         -->
<!-- ---------------- -->
<div class="panel control">
  <app-sep-control-factors title="PERFORMANCE FACTORS" [disablePower]="true" (controlOutput)="onValueChanged($event)" (labelOutput)="onLabelSelected($event)"></app-sep-control-factors>
</div>

<!-- ---------------- -->
<!--  DESCRIPTION     -->
<!-- ---------------- -->
<div class="panel description" [innerHTML]="content"></div>
