<div class="panel data">

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3 class="text-center">DATA</h3>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <h4>VYSE</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center">88 KIAS</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4>EXCESS THP</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center">21 HP</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4>RATE OF CLIMB</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center">170 FPM</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4>SERVICE CEILING</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center">5700 FT. MSL</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4>ABSOLUTE CEILING</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center">6281 FT. MSL</h1>
      </div>
    </div>

    <div class="footnote">
      * Actual aircraft performance not represented. Always refer to your FAA-approved Pilot Operating Handbook.
    </div>
  </div>

</div>
<div class="panel control">
  <app-control-factors [disablePower]="true"></app-control-factors>
</div>
<div class="panel description">

  <p>
    This section covers single-engine performance. Change the factor settings on the right to see the resulting effects
    on the aircraft. Click on the "Data" and "Control Factors" text labels to read descriptive text here. Clicking on the graphics above
     whenever the cursor changes to a pointing hand will also display additional text here.
  </p>


</div>
<div class="panel logo">

</div>
