<!-- ----------------  -->
<!--    CONTROL        -->
<!-- ----------------  -->
<div class="panel control">

  <div class="container-fluid">

    <div class="row control">
      <div class="col">
        <h2 class="text-center">ZERO SIDESLIP FACTORS</h2>
      </div>
    </div>

    <div class="row control">
      <div class="col-4">
        <h5 class="text-center">INOP. ENGINE</h5>
      </div>
      <div class="col-8">
        <app-selector label="INOP. ENGINE" [useValue]="true" [toggleOptions]="['LEFT','RIGHT']" [initialValue]="0" (valueOutput)="onValueSelected($event)"></app-selector>
      </div>
    </div>

    <div class="row control">
      <div class="col-4">
        <h5 class="text-center">CONTROL TECHNIQUE</h5>
      </div>
      <div class="col-8">
        <app-selector label="CONTROL TECHNIQUE" [useValue]="true" [toggleOptions]="['WINGS LEVEL', 'ZERO SIDESLIP']" [initialValue]="0" (valueOutput)="onValueSelected($event)"></app-selector>
      </div>
    </div>

    <div class="row control">
      <div class="col">
        <app-selectable-label label="INCLINOMETER" lookupValue="zst-inclinometer" (contentClicked)="lookupContent($event)"></app-selectable-label>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <img [src]="image" (click)="lookupContent('zst-inclinometer')"/>
      </div>
    </div>

    <div class="row control">
      <div class="col text-center">
        <button mat-raised-button class="exercise-button" color="primary">
          <h2>Zero Sideslip Exercise</h2>
        </button>
      </div>
    </div>

  </div>

</div>

<!-- ----------------  -->
<!--    RENDERER       -->
<!-- ----------------  -->
<div class="panel renderer">
  <app-engine></app-engine>
</div>

<!-- ----------------  -->
<!--    DESCRIPTION    -->
<!-- ----------------  -->
<div class="panel description zst" [innerHTML]="this.content"></div>

<!-- ----------------  -->
<!--    LOGO           -->
<!-- ----------------  -->
<div class="panel logo">

</div>
