@import "src/app/ui/ui.component.scss";

.renderer {
  top: 6%;
  width: 75%;
  height: 70%;
}

.exercise-button {
  padding: 1em 2em 1em 2em;
}

img:hover {
  cursor: pointer;
}

.panel.description {
  // border-style: solid none none none;
  width: 75%;
  height: 24%;
  bottom: 0em;
  padding: 10px;
  overflow-y: scroll;
}

.cdk-overlay-pane.app-dialog {
  position: relative!important;
}