<div class="panel data">

  <div class="panel control">
    <app-control-factors [disablePower]="true"></app-control-factors>
  </div>
  <div class="panel description">

    <p>
      This section covers single-engine performance. Change the factor settings on the right to see the resulting
      effects
      on the aircraft. Click on the "Data" and "Control Factors" text labels to read descriptive text here. Clicking on
      the graphics above
      whenever the cursor changes to a pointing hand will also display additional text here.
    </p>


  </div>
  <div class="panel logo">

  </div>
