<!-- ----------------  -->
<!--    CONTROL        -->
<!-- ----------------  -->
<div class="panel control">

  <div class="container-fluid">

    <div class="row control">
      <div class="col">
        <h2 class="text-center">CRITICAL ENGINE FACTORS</h2>
      </div>
    </div>

    <div class="row control">
      <div class="col-4">
        <app-selectable-label label="INOP. ENGINE" lookupValue="cef-inop-engine" (contentClicked)="lookupContent($event)"></app-selectable-label>
      </div>
      <div class="col-8">
        <app-selector label="INOP. ENGINE" [useValue]="true" [toggleOptions]="['LEFT','RIGHT']" [initialValue]="0" (valueOutput)="onValueChanged($event)"></app-selector>
      </div>
    </div>

    <div class="row control">
      <div class="col-4">
        <app-selectable-label label="ENGINE CONFIGURATION" lookupValue="cef-engine-configuration" (contentClicked)="lookupContent($event)"></app-selectable-label>
      </div>
      <div class="col-8">
        <app-selector label="ENGINE CONFIG." [useValue]="true" [toggleOptions]="['CONVENTIONAL', 'COUNTER ROT.']" [initialValue]="0" (valueOutput)="onValueChanged($event)"></app-selector>
      </div>
    </div>

    <div class="row control">
      <div class="col text-center">
        <app-selector-vertical label="FACTORS" [useValue]="true" [toggleOptions]="['P-FACTOR','SPIRALING SLIPSTREAM','ACCELERATED SLIPSTREAM','TORQUE']" [initialValue]="0" (valueOutput)="onValueChanged($event)"></app-selector-vertical>
      </div>
    </div>

  </div>

</div>

<!-- ----------------  -->
<!--    RENDERER       -->
<!-- ----------------  -->
<div class="panel renderer">
  <app-engine></app-engine>
</div>

<!-- ----------------  -->
<!--    DESCRIPTION    -->
<!-- ----------------  -->
<div class="panel description" [innerHTML]="this.content"></div>

<!-- ----------------  -->
<!--    LOGO           -->
<!-- ----------------  -->
<div class="panel logo">

</div>
