<!-- ----------------  -->
<!--    CONTROL        -->
<!-- ----------------  -->
<div class="panel control">

  <div class="container-fluid">

    <div class="row control">
      <div class="col">
        <h2 class="text-center">CRITICAL ENGINE FACTORS</h2>
      </div>
    </div>

    <div class="row control">
      <div class="col-4">
        <h5 class="text-center">INOP. ENGINE</h5>
      </div>
      <div class="col-8">
        <app-selector label="INOP. ENGINE" [useValue]="true" [toggleOptions]="['LEFT','RIGHT']" [initialValue]="0"></app-selector>
      </div>
    </div>

    <div class="row control">
      <div class="col-4">
        <h5 class="text-center">ENGINE CONFIG.</h5>
      </div>
      <div class="col-8">
        <app-selector label="ENGIN CONFIG." [useValue]="true" [toggleOptions]="['CONVENTIONAL', 'COUNTER ROT.']" [initialValue]="0"></app-selector>
      </div>
    </div>

    <div class="row control">
      <div class="col text-center">
        <app-toggle [value]="'P-FACTOR'" [selected]="true"></app-toggle>
      </div>
    </div>

    <div class="row control">
      <div class="col text-center">
        <app-toggle [value]="'SPIRALING SLIPSTREAM'" [selected]="false"></app-toggle>
      </div>
    </div>

    <div class="row control">
      <div class="col text-center">
        <app-toggle [value]="'ACCELERATED SLIPSTREAM'" [selected]="false"></app-toggle>
      </div>
    </div>

    <div class="row control">
      <div class="col text-center">
        <app-toggle [value]="'TORQUE'" [selected]="false"></app-toggle>
      </div>
    </div>

  </div>

</div>

<!-- ----------------  -->
<!--    RENDERER       -->
<!-- ----------------  -->
<div class="panel renderer">
  <app-engine></app-engine>
</div>

<!-- ----------------  -->
<!--    DESCRIPTION    -->
<!-- ----------------  -->
<div class="panel description">

  <p>
    This section covers single-engine performance. Change the factor settings on the right to see the resulting
    effects
    on the aircraft. Click on the "Data" and "Control Factors" text labels to read descriptive text here. Clicking on
    the graphics above
    whenever the cursor changes to a pointing hand will also display additional text here.
  </p>

</div>

<!-- ----------------  -->
<!--    LOGO           -->
<!-- ----------------  -->
<div class="panel logo">

</div>
