<div class="container-fluid">
  <div class="row h-25">
    <div class="col my-auto">
      <h4 class="w-75 mx-auto add-margins text-center">
        This software uses interactive simulations to illustrate one engine inoperative aerodynamics. The simulations are
        loosely based on the Piper Seminole, a light twin commonly used in multiengine instruction.
      </h4>
      <br/>
    </div>
  </div>
  <div class="container h-75">
    <div class="row mb-5">
      <div class="col-12 my-auto">
        <app-card-button
          title="Directional Control/V<sub>MCA</sub>"
          link="/directional-control-vmca"></app-card-button>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 my-auto">
        <app-card-button
          title="Single-Engine Performance"
          link="/single-engine-performance"></app-card-button>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 my-auto">
        <app-card-button
          title="Critical Engine Factors"
          link="/critical-engine-factors"></app-card-button>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 my-auto">
        <app-card-button
        title="Zero Sideslip Technique"
        link="/zero-sideslip-technique"></app-card-button>
      </div>
    </div>
  </div>
</div>
