/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'theme.scss';
@import 'fonts.scss';

// custom toggle mixing theme
@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);

  .mat-button-toggle-checked {
    background-color: mat-color($primary);

    .mat-button-toggle-label-content {
      color: $dark-primary-text;
    }
  }

}

// specify theme class eg: <body class="my-theme">...</body>
.app-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($app-theme);
  // include custom mixin
  @include mix-app-theme($app-theme);
}

html, body {
  height: 100%;
  overflow: hidden;
}

body { margin: 0; }

div.mat-button-toggle-label-content  {
  padding: 0!important;
  width: 100%;
  height: 100%;
  min-width: 1%!important;
  min-height: 1%!important;
  text-align: center!important;
  font-size: 0.8vw;
}

*:focus {
  outline:none;
}

:root {
  --color-primary: #{mat-color($app-primary)};
  --color-warn: #{mat-color($app-warn)};
}
