<mat-toolbar color="primary">
  <h2>One Engine Inoperative Aerodynamics</h2>
  <span class="fill-middle"></span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/directional-control-vmca">Directional Control/Vmca</button>
    <button mat-menu-item routerLink="/single-engine-performance">Single-Engine Performance</button>
    <button mat-menu-item routerLink="/critical-engine-factors">Critical Engine Factors</button>
    <button mat-menu-item routerLink="/zero-sideslip-technique">Zero Sideslip Technique</button>
  </mat-menu>
</mat-toolbar>
