@import "src/styles/styles.scss";

mat-toolbar {
  height:6%;
}

.fill-middle {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

@mixin app-title-hover($theme) {
  $hover: map-get($theme, foreground);

  h2:hover {
    color: mat-color($foreground);
  }
}
