<mat-toolbar color="primary">
  <a routerLink="/">
    <h1 class="title">One Engine Inoperative Aerodynamics</h1>
  </a>
  <span class="space"></span>
  <h3>{{viewManagerService.currentView}}</h3>
  <span class="fill-middle"></span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/directional-control-vmca" routerLinkActive="active-link">Directional Control/Vmca</button>
    <button mat-menu-item routerLink="/single-engine-performance" routerLinkActive="active-link">Single-Engine Performance</button>
    <button mat-menu-item routerLink="/critical-engine-factors" routerLinkActive="active-link">Critical Engine Factors</button>
    <button mat-menu-item routerLink="/zero-sideslip-technique" routerLinkActive="active-link">Zero Sideslip Technique</button>
  </mat-menu>
</mat-toolbar>
