<div class="container-fluid">

  <!-- Title -->
  <div class="row mb-auto align-items-center">
    <div class="col">
      <h2 class="text-center">{{ title }}</h2>
      <hr>
    </div>
  </div>

  <!-- INOP ENGINE -->
  <div class="row mb-auto align-items-center">
    <div class="col-4">
      <h5 class="text-center">INOP. ENGINE</h5>
    </div>
    <div class="col-8">
      <app-selector label="INOP. ENGINE" [useValue]="true" [toggleOptions]="['LEFT','RIGHT']" [initialValue]="0"
        (valueOutput)="selected($event)"></app-selector>
    </div>
  </div>

  <!-- POWER -->
  <div class="row align-items-center">
    <div class="col-4">
      <h5 class="text-center">POWER</h5>
    </div>
    <div class="col-8">
      <div *ngIf="!disablePower; else disable">
        <app-selector label="POWER" [useValue]="false" [toggleOptions]="['IDLE','-','-','-','FULL']" [initialValue]="4"
          (valueOutput)="selected($event)"></app-selector>
      </div>
      <ng-template #disable>
        <app-selector label="POWER" [useValue]="false" [toggleOptions]="['IDLE','-','-','-','FULL']" [initialValue]="4"
          [disableGroup]="true"></app-selector>
      </ng-template>
    </div>
  </div>

  <!-- DENSITY ALTITUDE -->
  <div class="row align-items-center">
    <div class="col-4">
      <h5 class="text-center">DENSITY ALTITUDE</h5>
    </div>
    <div class="col-8">
      <app-selector label="DENSITY ALTITUDE" [useValue]="false" [toggleOptions]="['0','1500','3000','4500','6000']"
        [initialValue]="2" (valueOutput)="selected($event)"></app-selector>
    </div>
  </div>

  <!-- PROPELLER -->
  <div class="row align-items-center">
    <div class="col-4">
      <h5 class="text-center">PROPELLER</h5>
    </div>
    <div class="col-8">
      <app-selector label="PROPELLER" [useValue]="true" [toggleOptions]="['WINDMILL','FEATHER']" [initialValue]="0"
        (valueOutput)="selected($event)"></app-selector>
    </div>
  </div>

  <!-- CONTROL TECHNIQUE -->
  <div class="row align-items-center">
    <div class="col-4">
      <h5 class="text-center">CONTROL TECHNIQUE</h5>
    </div>
    <div class="col-8">
      <app-selector label="CONTROL TECHNIQUE" [useValue]="true" [toggleOptions]="['WINGS LEVEL','ZERO SIDE SLIP']"
        [initialValue]="1" (valueOutput)="selected($event)"></app-selector>
    </div>
  </div>

  <!-- AIRSPEED (KIAS) -->
  <div class="row align-items-center">
    <div class="col-4">
      <h5 class="text-center">AIRSPEED (KIAS)</h5>
    </div>
    <div class="col-8">
      <app-selector label="AIRSPEED (KIAS)" [useValue]="false" [toggleOptions]="['83','-','88','-','93']"
        [initialValue]="2" (valueOutput)="selected($event)"></app-selector>
    </div>
  </div>

  <!-- WEIGHT -->
  <div class="row align-items-center">
    <div class="col-4">
      <h5 class="text-center">WEIGHT</h5>
    </div>
    <div class="col-8">
      <app-selector label="WEIGHT" [useValue]="false" [toggleOptions]="['MIN','-','-','-','MAX']" [initialValue]="0"
        (valueOutput)="selected($event)"></app-selector>
    </div>
  </div>

  <!-- CENTER OF GRAVTY -->
  <div class="row align-items-center">
    <div class="col-4">
      <h5 class="text-center">CENTER OF GRAVITY</h5>
    </div>
    <div class="col-8">
      <app-selector label="CENTER OF GRAVITY" [useValue]="false" [toggleOptions]="['AFT','-','-','-','FORE']"
        [initialValue]="0" (valueOutput)="selected($event)"></app-selector>
    </div>
  </div>

  <!-- FLAPS -->
  <div class="row align-items-center">
    <div class="col-4">
      <h5 class="text-center">FLAPS</h5>
    </div>
    <div class="col-8">
      <app-selector label="FLAPS" [useValue]="false" [toggleOptions]="['0','10','25','40']" [initialValue]="0"
        (valueOutput)="selected($event)"></app-selector>
    </div>
  </div>

  <!-- LANDING GEAR -->
  <div class="row align-items-center">
    <div class="col-4">
      <h5 class="text-center">LANDING GEAR</h5>
    </div>
    <div class="col-8">
      <app-selector label="LANDING GEAR" [useValue]="true" [toggleOptions]="['UP','DOWN']" [initialValue]="0"
        (valueOutput)="selected($event)"></app-selector>
    </div>
  </div>

</div>
