@import 'src/styles/styles.scss';

@mixin app-borders($app-theme) {
  $accent: map-get($app-theme, accent);

  border-color: mat-color($accent);
  border-width: 1px;
}

.panel {
  position: absolute;
  padding: 0;
  @include app-borders($app-theme);
}

.panel.control {
  border-style: none none none solid;
  width: 25%;
  height: 78%;
  right: 0em;
}

.panel.description {
  border-style: solid none none none;
  width: 75%;
  height: 15%;
  bottom: 0em;
  padding: 10px;
}

.panel.data {
  border-style: none solid none none;
  width: 17%;
  height: 78%;
  padding: 10px;
}

.panel.logo {
  border-style: solid none none solid;
  width: 25%;
  height: 15%;
  bottom: 0em;
  right: 0em;
}

.row.control {
  margin-top: 20px;
}
