
@mixin app-borders($app-theme) {

  border-color: var(--accent-color);
  border-width: 1px;
}

.panel {
  position: absolute;
  padding: 0;
}

.panel.control {
  width: 25%;
  height: 78%;
  right: 0em;
}

.panel.description {
  width: 75%;
  height: 15%;
  bottom: 0em;
  padding: 10px;
  overflow-y: scroll;
}

.panel.data {
  width: 17%;
  height: 78%;
  padding: 10px;
}

.panel.logo {
  width: 25%;
  height: 15%;
  bottom: 0em;
  right: 0em;
}

.row.control {
  margin-top: 20px;
}

.center {
  display:flex;
  justify-content: center;
  align-items:center;
  margin: auto;
  height:100%;
  width:80%;
}
