<div class="panel data">

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3 class="text-center">DATA</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>STALL SPEED</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center">74 KIAS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>VMCA</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center">57 KIAS</h1>
      </div>
    </div>
    <div class="footnote">
      * Actual aircraft performance not represented. Always refer to your FAA-approved Pilot Operating Handbook.
    </div>
  </div>

</div>
<div class="panel control">
  <app-control-factors title="CONTROL FACTORS" [disablePower]="false"></app-control-factors>
</div>
<div class="panel description">

  <p>
    This section covers single-engine directional conrol and Vmca. Change the factor settings on the right to see the resulting effects
    on the aircraft. Click on the "Data" and "Control Factors" text labels to read descriptive text here. Clicking on the graphics above
     whenever the cursor changes to a pointing hand will also display additional text here.
  </p>


</div>
<div class="panel logo">

</div>
