
<!-- ----------------  -->
<!--    DATA           -->
<!-- ----------------  -->
<div class="panel data">

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 class="text-center">DATA</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-selectable-label label="STALL SPEED" lookupValue="stall-speed" (contentClicked)="labelSelected($event)" size="large"></app-selectable-label>
      </div>
    </div>
    <div class="row">
      <div class="data-display col">
        <h1 class="dynamic">{{ stallSpeed }}</h1>
        <h2 class="static">KIAS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-selectable-label label="VMCA" lookupValue="vmca" (contentClicked)="labelSelected($event)" size="large"></app-selectable-label>
      </div>
    </div>
    <div class="row">
      <div class="data-display col">
        <h1 class="dynamic">{{ vmca }}</h1>
        <h2 class="static">KIAS</h2>
      </div>
    </div>
    <div class="footnote">
      * Actual aircraft performance not represented. Always refer to your FAA-approved Pilot Operating Handbook.
    </div>
  </div>

</div>

<!-- ----------------  -->
<!--    RENDERER       -->
<!-- ----------------  -->
<div class="panel renderer">
  <app-engine></app-engine>
</div>

<div class="overlay">
  <app-rudder-effectiveness (labelSelected)="labelSelected($event)" [rudderEffectiveness]="rudderEffectiveness"></app-rudder-effectiveness>
</div>

<!-- ----------------  -->
<!--    CONTROL        -->
<!-- ----------------  -->
<div class="panel control">
  <app-dcv-control-factors title="CONTROL FACTORS" [disablePower]="false" (controlOutput)="onValueChanged($event)" (labelOutput)="labelSelected($event)"></app-dcv-control-factors>
</div>

<!-- ----------------  -->
<!--    DESCRIPTION    -->
<!-- ----------------  -->
<div class="panel description" [innerHTML]="content"></div>

<!-- ----------------  -->
<!--    LOGO           -->
<!-- ----------------  -->
<div class="panel logo">

</div>
